<h1>About Me</h1>
<p>
    Hi, my names Cheng, I'm a junior web developer currently enrolled at CodeCore.
    
</p>
<img src="https://chengpham.com/homepage/avatar.png" width="100px" alt='avatar'>